

* {
    padding: 10px;
    margin: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none; /* para nao aparecer o menu na tela impressa */
}

article::after {
    content: "esse artigo foi impresso atraves do site www.julio.com";
}